@model GMM.Web.Models.NotificationResponse

@{
    ViewData["Title"] = "Delete";
}

<h1>Delete</h1>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>NotificationResponse</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NotificationText)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.NotificationText)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.NotifProcessingPhaseDesc)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.NotifProcessingPhaseDesc)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.MaintPriorityDesc)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.MaintPriorityDesc)
        </dd>       
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PlantName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.PlantName)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-action="Index">Back to List</a>
    </form>
</div>

