@model GMM.Web.Models.NotificationResponse

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>NotificationResponse</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IdNotification)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IdNotification)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MaintenanceNotification)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MaintenanceNotification)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MaintNotifInternalID)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MaintNotifInternalID)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NotificationText)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NotificationText)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MaintPriority)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MaintPriority)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NotificationType)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NotificationType)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NotifProcessingPhase)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NotifProcessingPhase)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NotifProcessingPhaseDesc)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NotifProcessingPhaseDesc)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MaintPriorityDesc)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MaintPriorityDesc)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CreationDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CreationDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.LastChangeTime)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.LastChangeTime)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.LastChangeDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.LastChangeDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.LastChangeDateTime)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.LastChangeDateTime)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CreationTime)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CreationTime)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ReportedByUser)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ReportedByUser)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ReporterFullName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ReporterFullName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PersonResponsible)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PersonResponsible)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MalfunctionEffect)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MalfunctionEffect)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MalfunctionEffectText)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MalfunctionEffectText)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MalfunctionStartDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MalfunctionStartDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MalfunctionStartTime)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MalfunctionStartTime)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MalfunctionEndDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MalfunctionEndDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MalfunctionEndTime)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MalfunctionEndTime)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MaintNotificationCatalog)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MaintNotificationCatalog)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MaintNotificationCode)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MaintNotificationCode)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MaintNotificationCodeGroup)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MaintNotificationCodeGroup)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CatalogProfile)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CatalogProfile)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NotificationCreationDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NotificationCreationDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NotificationCreationTime)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NotificationCreationTime)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NotificationTimeZone)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NotificationTimeZone)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.RequiredStartDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.RequiredStartDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.RequiredStartTime)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.RequiredStartTime)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.RequiredEndDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.RequiredEndDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.RequiredEndTime)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.RequiredEndTime)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.LatestAcceptableCompletionDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.LatestAcceptableCompletionDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MaintenanceObjectIsDown)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MaintenanceObjectIsDown)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MaintNotificationLongText)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MaintNotificationLongText)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MaintNotifLongTextForEdit)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MaintNotifLongTextForEdit)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TechnicalObject)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TechnicalObject)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TechObjIsEquipOrFuncnlLoc)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TechObjIsEquipOrFuncnlLoc)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TechnicalObjectLabel)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TechnicalObjectLabel)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MaintenancePlanningPlant)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MaintenancePlanningPlant)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MaintenancePlannerGroup)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MaintenancePlannerGroup)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PlantSection)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PlantSection)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ABCIndicator)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ABCIndicator)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SuperiorTechnicalObject)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SuperiorTechnicalObject)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SuperiorTechnicalObjectName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SuperiorTechnicalObjectName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SuperiorObjIsEquipOrFuncnlLoc)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SuperiorObjIsEquipOrFuncnlLoc)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SuperiorTechnicalObjectLabel)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SuperiorTechnicalObjectLabel)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ManufacturerPartTypeName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ManufacturerPartTypeName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TechObjIsEquipOrFuncnlLocDesc)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TechObjIsEquipOrFuncnlLocDesc)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FunctionalLocation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FunctionalLocation)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FunctionalLocationLabelName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FunctionalLocationLabelName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TechnicalObjectDescription)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TechnicalObjectDescription)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AssetLocation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AssetLocation)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.LocationName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.LocationName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.BusinessArea)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.BusinessArea)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CompanyCode)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CompanyCode)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TechnicalObjectCategory)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TechnicalObjectCategory)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TechnicalObjectType)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TechnicalObjectType)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MainWorkCenterPlant)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MainWorkCenterPlant)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MainWorkCenter)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MainWorkCenter)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PlantName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PlantName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MaintenancePlannerGroupName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MaintenancePlannerGroupName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MaintenancePlant)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MaintenancePlant)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.LocationDescription)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.LocationDescription)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MainWorkCenterText)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MainWorkCenterText)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MainWorkCenterPlantName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MainWorkCenterPlantName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MaintenancePlantName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MaintenancePlantName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PlantSectionPersonRespName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PlantSectionPersonRespName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ABCIndicatorDesc)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ABCIndicatorDesc)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PersonResponsibleName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PersonResponsibleName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MaintenanceOrder)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MaintenanceOrder)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MaintenanceOrderType)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MaintenanceOrderType)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ConcatenatedActiveSystStsName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ConcatenatedActiveSystStsName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MaintenanceActivityType)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MaintenanceActivityType)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MaintObjDowntimeDurationUnit)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MaintObjDowntimeDurationUnit)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MaintObjectDowntimeDuration)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MaintObjectDowntimeDuration)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MaintenancePlan)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MaintenancePlan)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MaintenanceItem)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MaintenanceItem)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TaskListGroup)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TaskListGroup)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TaskListGroupCounter)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TaskListGroupCounter)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MaintenancePlanCallNumber)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MaintenancePlanCallNumber)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MaintenanceTaskListType)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MaintenanceTaskListType)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TaskList)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TaskList)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NotificationReferenceDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NotificationReferenceDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NotificationReferenceTime)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NotificationReferenceTime)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NotificationCompletionDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NotificationCompletionDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CompletionTime)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CompletionTime)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AssetRoom)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AssetRoom)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MaintNotifExtReferenceNumber)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MaintNotifExtReferenceNumber)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MaintNotifRejectionReasonCode)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MaintNotifRejectionReasonCode)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MaintNotifRejectionRsnCodeTxt)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MaintNotifRejectionRsnCodeTxt)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MaintNotifDetectionCatalog)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MaintNotifDetectionCatalog)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MaintNotifDetectionCode)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MaintNotifDetectionCode)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MaintNotifDetectionCodeText)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MaintNotifDetectionCodeText)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MaintNotifDetectionCodeGroup)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MaintNotifDetectionCodeGroup)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MaintNotifDetectionCodeGrpTxt)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MaintNotifDetectionCodeGrpTxt)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MaintNotifProcessPhaseCode)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MaintNotifProcessPhaseCode)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MaintNotifProcessSubPhaseCode)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MaintNotifProcessSubPhaseCode)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.EAMProcessPhaseCodeDesc)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.EAMProcessPhaseCodeDesc)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.EAMProcessSubPhaseCodeDesc)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.EAMProcessSubPhaseCodeDesc)
        </dd>
    </dl>
</div>
<div>
    @Html.ActionLink("Edit", "Edit", new { id = Model.IdNotification }) |
    <a asp-action="Index">Back to List</a>
</div>
